@charset "ISO-8859-1";
.navbar-default{
	background-color:#c0c0c0;
}
.nav.navbar-nav li a
{
	color:#400000;
}
.nav.navbar-nav li a:hover
{
	background-color: #8080ff;
}
.navbar.navbar_header.img{
	border-radius: 100px;
    margin-top: -10px;
    width: 83px;
    height: 41px;
}